<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Todo App</h1>
    </header>

    {{{body}}}

    <footer>
      <p>Express Basic Site</p>
    </footer>
  </body>
</html>